<em>
    <p class="txt">
      * {{ quoty.author }}
      <span>Posted: {{ quoty.datePosted | dateCount }} *</span>
    <p>
  </em>
  <div class="container-fluid" id="buttons">
    <button class="btn btn-sm btn-danger" id="rmv" (click)="deleteQuote(true)">
      Delete<i class="fa fa-trash" id="delete"></i>
    </button>
    <button class="btn btn-sm btn-success" id="lk" (click)="upvote()">
      {{ quoty.likes }} <i id="like"></i></button>
    
    <button class="btn btn-sm hate" id="bad" (click)="downvote()">
      {{ quoty.dislikes }} <i id="dislike"></i></button>
   
  </div> 
